{{#config}}

	{
		"title" : "mehyar.co - About us",
		"description" : "Middle East Food Products Wholesaler",
		"keywords" : "food, halal, sesame, tahina, halava, halawa",
	}

{{/config}}

{{> header}}

<div class="container">

	<div class="intro row">
		<div class="column grid-12">
			<div class="block">
				<div class="top-sep"></div>

				<div class="splash">
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column grid-7 center">
			<div class="block">
				<div style="margin:0 0 20px 0">
				Mehyar Wholesale for food products.
				</div>

				<div style="margin:0 0 20px 0">
				Our main goal is to provide best quality Mediterranean products by using natural healthy ingredients with no chemical additives to comply with international health standards. We make sure that all our products are Halal made and certified.
				</div>

				<div style="margin:0 0 20px 0">
				We are willing to deliver our products to USA market in quantities with a competitive prices.
				</div>

			</div>
		</div>
	</div>

	{{> footer}}
</div>
