<div class="section above_footer">

    <div class="section buttons-link" style="">
        <div class="row">
            <div class="column grid-12">
                <div class="bottom-buttons" style="text-align:center;">
                    <a class="button large red" style="" title="Products Catalog" href="/">Download Catalog</a>
                   <!--  <a class="button large red" style="" title="View Our Products" href="/">View Our Products</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
