{{> above_footer}}
<div class="footer">
    <div class="row">
        <div class="column grid-6">
            <div class="hello" style="">Contact us</div>
            <div class="hello email"> Email : <a href="mailto:info@mehyar.co">info@mehyar.co</a></div>

            <div class="row">
                <div class="column grid-6">
                    <div class="hello email">+1 773 996 5979</div>
                    <div class="hello email">+1 331 980 6149</div>
                </div>
            </div>
        </div>

        <div class="column grid-6">
            <div class="flogo">
                <a href="http://mehyar.co">Eat with &hearts;</a>
            </div>
        </div>
    </div>
</div>
