{{#config}}

    {
        "title" : "mehyar.co - Middle East Food Products Wholesaler",
        "description" : "Middle East Food Products Wholesaler & distributor",
        "keywords" : "middleeast, food, tahina, halawa, halava, herbal tea, spices"
    }

{{/config}}

{{> header}}
<div class="container">

    <div class="intro row">
        <div class="column grid-12">
            <div class="block">
                <div class="top-sep"></div>

                <div class="splash">
                    <h1>Mehyar Co.</h1>
                    <h2>Middle East Food Products Wholesaler</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">

            <div class="column grid-4">
                <div class="block outline">
                    <a href="/grocries">
                        <img src="{{assets}}/images/Grocries.jpg">
                        <h2>Grocries</h2>
                    </a>
                </div>
            </div>

            <div class="column grid-4">
                <div class="block outline">
                    <a href="/herbal_spices">
                        <img src="{{assets}}/images/spices.jpg">
                        <h2>Herbal & Spices</h2>
                    </a>
                </div>
            </div>

            <div class="column grid-4">
                <div class="block outline">
                    <a href="/sesame">
                        <img src="{{assets}}/images/tahina2.jpg">
                        <h2>Sesame Products</h2>
                    </a>
                </div>
            </div>



            <!-- <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-browser-streamline-window"></div>
                    <h2>Design</h2>
                </div>
            </div> -->
        </div>
    </div>

    <div style="width:100%;">
        <div>
            <h1 class="main-text" style="">
            Wide Range Of Food Products <br/>Selected With Care & Passion
            </h1>
        </div>
    </div>

    {{> footer}}
</div>
